.container{
    text-align: center;
}
input{
    width: 18%;
    height: 38px;
    border-radius: 5px;
    font-size: 31px;
}
button{
    background-color: #4CAF50;
    height: 44px;
    margin-left: 11px;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 17px;
    font-size: 15px;
    
}
button:hover{
    background-color: darkblue;
    cursor: pointer;
}
.fa{
    font-size: 32px;
}

